<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!-- Фрагмент навигации -->
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background: linear-gradient(135deg, #FFD54F, #FFB300);">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">🏦 Кредитная система</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/}">
                            <i class="bi bi-house-door"></i> Главная
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/clients}">
                            <i class="bi bi-people"></i> Клиенты
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/applications}">
                            <i class="bi bi-file-text"></i> Заявки
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>