.test-colors {
    color: #ff0000;      /* Должен подсвечиваться красным */
    background: #00ff00; /* Должен подсвечиваться зеленым */
    border: 1px solid #0000ff; /* Должен подсвечиваться синим */
}